{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>MIR COID19-Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "/style.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="nouislider.min.css" rel="stylesheet">
    <script src="nouislider.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
    <link rel="stylesheet" href="{% static "/map.css" %}"/>

</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="{% static "/images/logo.png" %}" width="50" height="50">
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active" ><a href="#" id="dashboard-tab" onlclick="changeTab(this)">MIR COVID-19 Dashboard</a></li>
                    <li><a href="#" id="model-tab" onlclick="changeTab(this)">Epidemic Spread Model</a></li>
                    <li><a href="#" id="team-tab" onlclick="changeTab(this)">Team</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container-fluid text-center" >
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <div class="card">
                    <p>Ahmedabad</p>
                    <img src="{% static "/images/icon.png" %}" width="80" height="50">
                    <p><i class="fa fa-user"></i></p>
                    <table style="width:100%">
  <tr>
    <th style="text-align:center"><h3 id="active"></h3></th>
    <th style="text-align:center"><h3 id="confirmed"></h3></th>
    </tr>
  <tr>
    <th style="text-align:center">Active</th>
    <th style="text-align:center">Confirmed</th>
    </tr>
<tr>
    <th style="text-align:center"><h3 id="deceased"></h3></th>
    <th style="text-align:center"><h3 id="recovered"></h3></th>
  </tr>
  <tr>
    <th style="text-align:center">Deceased</th>
    <th style="text-align:center">Recovered</th>
  </tr>

  </table>
                </div>
                <div class="card">
                    <p><b>Hospitals</b></p>
                    <p><span>&larr;</span>&nbsp<span>1 of 30</span>&nbsp<span>&rarr;</span></p>

                </div>
            </div>

            <div class="col-sm-8 text-left">
                <hr>
                <div id="mapid">
                    <script>
                        var map = L.map('mapid').setView([23.0225, 72.574], 13);

                        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
                        }).addTo(map);
                    </script>
                </div>
            </div>
            <div class="col-sm-2 sidenav">
                <div class="slidecontainer" , style="margin-top:20px">
                    <h4>Nodes</h4>
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange1">
                    <p>Value: <span id="x"></span></p>
                </div>

                <div class="slidecontainer" , style="margin-top:20px">
                    <h4>Edge Weight</h4>
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange2">
                    <p>Value: <span id="demo1"></span></p>
                </div>
                
                <div class="slidecontainer" , style="margin-top:20px">
                    <button>Apply Changes</button>
                </div>

                <div class="slidecontainer" , style="margin-top:20px">
                    <button>Spread Graph</button>
                </div>

            </div>
        </div>
    </div>
    
    <div id="spread-model" style="display:none;">
    </div>

    <div id="team" style="display:none;">
        <ul>
            <li> Prof. Udit Bhatia</li>
            <li> Harsh Patel </li>
            <li> Rohan Patil </li>
            <li> Raviraj Dave </li>
            <li> Viraj Shah </li>
            <li> Kaushal Modi </li>
        </ul>	
    </div>

</body>

</html>