{% load static %}
<!DOCTYPE html>
<html lang="en" style="margin:0px;padding:0px;">

<head>
    <title>MIR AHD Covid-19</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css" integrity="sha256-sEGfrwMkIjbgTBwGLVK38BG/XwIiNC/EAG9Rzsfda6A=" crossorigin="anonymous" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!--     <link href="nouislider.min.css" rel="stylesheet">
    <script src="nouislider.min.js"></script>
     -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
    <link rel="stylesheet" href="{% static "/map.css" %}"/>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Include this library for mobile touch support  -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
    <script src="{% static "/global.js" %}"></script>
    <script src="{% static "/helper.js" %}"></script>
    <script src="{% static "/init.js" %}"></script>

</head>

<body style="margin:0;">
    <div id="loader" class="center" style="display:none;"></div>
    <div id="loaded">
        <nav class="navbar sticky-top navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="{% static "/images/logo.png" %}" width="50" height="50">
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li id="dashboard-tab"><a href="#" onclick="changeTab(this)">MIR AHD Covid-19</a></li>
                        <li id="model-tab"><a href="#" onclick="changeTab(this)">Epidemic Spread Model</a></li>
                        <li id="team-tab"><a href="#" onclick="changeTab(this)">Team</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid text-center" id="dashboard">
            <script>
                var currTab = document.getElementById('dashboard')
            </script>
            <div class="row content">
                <div class="col-sm-3 sidenav">
                    <div class="card">
                        <img src="{% static "/images/icon.png" %}" width="50" height="50">
                        <p><i class="fa fa-user"></i></p>
                        <div class="select" style="">
                            <select id="sta">
                                <option selected value="Ahmedabad"> Select District:</option>
                            </select>
                        </div>

                        <table style="width:100%">
                            <tr>
                                <th style="text-align:center">
                                    <h4 id="active"></h4></th>
                                <th style="text-align:center">
                                    <h4 id="confirmed"></h4></th>
                            </tr>
                            <tr>
                                <th style="text-align:center">Active</th>
                                <th style="text-align:center">Confirmed</th>
                            </tr>
                            <tr>
                                <th style="text-align:center">
                                    <h4 id="deceased"></h4></th>
                                <th style="text-align:center">
                                    <h4 id="recovered"></h4></th>
                            </tr>
                            <tr>
                                <th style="text-align:center">Deceased</th>
                                <th style="text-align:center">Recovered</th>
                            </tr>

                        </table>

                    </div>
                    <!--                 <div class="card">
                    <p><b>Hospitals</b></p>
                    <p><span>&larr;</span>&nbsp<span>1 of 30</span>&nbsp<span>&rarr;</span></p>

                </div> -->
                    <div id="curve_chart" style="width: 100%; height: 36vh;"></div>
                </div>

                <div class="col-sm-7 text-left">
                    <hr>
                    <div id="mapid">
                    </div>
                    <script>
                        map = initMap('mapid');
                        map.on('draw:created', addPolygon);
                    </script>

                </div>
                <div class="col-sm-2 sidenav">
                    <div class="slidecontainer" , style="margin-top:20px">
                        <h4>Top Intersections</h4>
                        <div id="node-slider"></div>
                        <p>Value: <span id="node-handler"></span></p>
                    </div>

                    <div class="slidecontainer" , style="margin-top:20px">
                        <h4>Road Segments</h4>
                        <div id="edge-slider"></div>
                        <p>Value: <span id="edge-handler"></span></p>
                    </div>

                    <!--                 <div class="slidecontainer" , style="margin-top:20px">
                    <button>Apply Changes</button>
                </div>
 -->
                    <!--                 <div class="slidecontainer" style="margin-top:20px" id="plot-show">
                    <button>Show Plot</button>
                </div>
 -->
                </div>
            </div>
        </div>

        <div id="spread-model" style="display:none" class="container">
            <hr>
            <div class="row align-items-center" style="margin-left: 2wv;">
                <h2> Ahmedabad : Red Zone </h2>
                <div>(Research in progress)</div>
<!--                 <h3> Continued Testing at current rate with Lockdown </h3> -->
                <div>
                    <img src="{% static "/images/Social_distancing_curr_testing.png" %}" style="width:70%;heigth:60%"/>
                </div>
<!--                 <h3> Continued Testing at current rate with Relaxed Lockdown </h3> -->
                <div>
                    <img src="{% static "/images/Social_distancing_relaxe_curr_testing.png" %}" style="width:70%; height:60%"/>
                </div>
                <hr>
                <h2> Ahmedabad : Red Zone - Lockdown Relaxation Scenarios </h2>
<!--             <h3> Continued Testing at current rate with Relaxed Lockdown after 30 days </h3> -->
                <div>
                    <img src="{% static "/images/Social_distancing_relaxe_curr_testing_30days.png" %}" style="width:70%;height:60%"/>
                </div>
<!--             <h3> Continued Testing at current rate with Relaxed Lockdown after 60 days </h3> -->
                <div>
                    <img src="{% static "/images/Social_distancing_relaxe_enhanced_testing_60days.png" %}" style="width:70%;height:60%"/>
                </div>
            </div>
        </div>

        <div id="team" style="display:none;" class="container">
            <hr>
            <div class="row align-items-center">
                <div class="col-sm-3">
                    <div class="card card-block">
                        <img src="{% static "/images/udit.jpg" %}" style="width:100%;height:160px;"/>
                        <div class="container1">
                            <h2>Udit Bhatia</h2>
                            <p class="title">Assistant Professor</p>
                            <p class="title">Civil Engineering</p>
                            <p>IIT Gandhinagar</p>
                            <p>bhatia.u@iitgn.ac.in</p>
                            <!--         <p><button class="button">Contact</button></p> -->
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h2> Network and Dashboard Development Team </h2>
            <hr>
            <div class="row align-items-center">
                <div class="col-sm-3">
                    <div class="card card-block">
                        <img src="{% static "/images/rohan.jpg" %}" style="width:100%;height:160px;"/>
                        <div class="container1">
                            <h2>Rohan Patil</h2>
                            <p class="title">B. Tech. Junior Undergraduate</p>
                            <p class="title">Computer Science and Engineering</p>
                            <p>IIT Gandhinagar</p>
                            <p>rohan.patil@iitgn.ac.in</p>
                            <!--         <p><button class="button">Contact</button></p> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-block">
                        <img src="{% static "/images/harsh.jpg" %}" style="width:100%;height:160px;"/>
                        <div class="container1">
                            <h2>Harsh Patel</h2>
                            <p class="title">B. Tech. Sophomore</p>
                            <p class="title">Computer Science and Engineering</p>
                            <p>IIT Gandhinagar</p>
                            <p>harsh.patel@iitgn.ac.in</p>
                            <!--         <p><button class="button">Contact</button></p> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-block align-self-center">
                        <img src="{% static "/images/viraj.jpg" %}" style="width:100%;height:160px;"/>
                        <div class="container1">
                            <h2>Viraj Shah</h2>
                            <p class="title">B. Tech. Sophomore</p>
                            <p class="title">Electrical Engineering<br><br></p>
                            <p>IIT Gandhinagar</p>
                            <p>viraj.shah@iitgn.ac.in</p>
                            <!--         <p><button class="button">Contact</button></p> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-block align-self-center">
                        <img src="{% static "/images/raviraj.jpg" %}" style="width:100%;height:160px;"/>
                        <div class="container1">
                            <h2>Raviraj Dave</h2>
                            <p class="title">PhD Student</p>
                            <p class="title">Civil Engineering<br><br></p>
                            <p>IIT Gandhinagar</p>
                            <p>dave_raviraj@iitgn.ac.in</p>
                            <!--         <p><button class="button">Contact</button></p> -->
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h2> Dynamic Model Team </h2>
            <hr>
            <div class="row align-items-center">
                <div class="col-sm-3">
                    <div class="card card-block align-self-center">
                        <img src="{% static "/images/kaushal.jpg" %}" style="width:100%;height:160px;"/>
                        <div class="container1">
                            <h2>Kaushal <br> Modi</h2>
                            <p class="title">B. Tech Senior Undergraduate</p>
                            <p class="title">Mechanical Engineering</p>
                            <p>IIT Gandhinagar</p>
                            <p>kaushal.modi@iitgn.ac.in</p>
                            <!--         <p><button class="button">Contact</button></p> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-block align-self-center">
                        <img src="{% static "/images/shahzaib.jpg" %}" style="width:100%;height:160px;"/>
                        <div class="container1">
                            <h2>Shahzaib Khan</h2>
                            <p class="title">B. Tech Junior Undergraduate</p>
                            <p class="title">Civil Engineering</p>
                            <p>IIT Gandhinagar</p>
                            <p>shahzaib.khan@iitgn.ac.in</p>
                            <!--         <p><button class="button">Contact</button></p> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-block align-self-center">
                        <img src="{% static "/images/kamlesh.jpg" %}" style="width:100%;height:160px;"/>
                        <div class="container1">
                            <h2>Kamlesh Sawadekar</h2>
                            <p class="title">B. Tech Sophomore</p>
                            <p class="title">Civil Engineering</p>
                            <p>IIT Gandhinagar</p>
                            <p>kamlesh.arun@iitgn.ac.in</p>
                            <!--         <p><button class="button">Contact</button></p> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card card-block">
                        <img src="{% static "/images/ayush.jpg" %}" style="width:100%;height:160px;"/>
                        <div class="container1">
                            <h2>Ayush <br> Lodha</h2>
                            <p class="title">B. Tech. Sophomore</p>
                            <p class="title">Civil Engineering</p>
                            <p>IIT Gandhinagar</p>
                            <p>ayush.lodha@iitgn.ac.in</p>
                            <!--         <p><button class="button">Contact</button></p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <nav class="navbar fixed-bottom navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img src="{% static "/images/logo_iitgn.png" %}" width="50" height="50">
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li id="dashboard-tab"><a href="#" onclick="changeTab(this)">MIR AHD Covid-19</a></li>
                        <li id="model-tab"><a href="#" onclick="changeTab(this)">Epidemic Spread Model</a></li>
                        <li id="team-tab"><a href="#" onclick="changeTab(this)">Team</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>

</html>
